{% extends 'dashboard/base.html' %}
{% block title %} e-Inventory - Password Reset {% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border p-3 bg-white">
                    <h3>Password Reset</h3>
                    <hr>
                    <div class="alert alert-info">
                        <h4>We've sent you an email containing the link to reset your password !</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}